 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif; 
}

.header {
 background-color: blue;
 height: 100px;
 color: white;
 border: 1px solid blue;
}

.jumbo {
    display: flex;
    flex-direction: column;
    align-items: center
}

.jumbo img {
    width: 250px;
    height: 350px;
    padding-top: 5%;
}

.star-white::before,
.star-white::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
}

.star-black::before,
.star-black::after {
    content: "";
    display: inline-block;
    width: 90px;
    height: 5px;
    background-color:rgb(40, 72, 141);
    border-radius: 20px;
}

.star-white i {
    margin:20px;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}

.star-black i {
    margin:20px;
    color: rgb(40, 72, 141);
    font-size: 30px;
    vertical-align: middle;
}

.info {
    color: white;
    font-size: 20px;
}

#header {
    background-color: rgb(2, 122, 8);
    height: 600px;
}

.box_portfolio {
    width: 100%;
    height: 100%;
    position: relative;
}

.box_portfolio:hover .overlay {
    display: block;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top:0;
    border-radius: 50px;
    cursor: pointer;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

.box_portfolio img {
    width: 100%;
    border-radius: 50px;
}

.about {
    height: 400px;
    background-color:rgb(2, 122, 8) ;
    text-align: center;
}

.send {
    margin-bottom: 150px;
}

.bord {
    border-bottom: 1px solid black;
}

textarea:valid {

 }

#cont {
    /* background-color: coral; */
    height:800px;
} 

#img {
    height: 200px;
}

.green {
    /* background-color: rgb(39, 184, 46); */
}

#footer {
    background-color: dodgerblue;
    height: 300px;
}

#blue-shadow {
    background-color: rgb(40, 72, 141);
} 

.navbar-toggler {
    background-color: white !important;
}