 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif; 
} */

.header {
 background-color: blue;
 height: 100px;
 color: white;
 border: 1px solid blue;
}

.jumbo {
    display: flex;
    flex-direction: column;
    align-items: center
}

.jumbo img {
    width: 250px;
    height: 350px;
    padding-top: 5%;
}

.star::before,
.star::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
}

.star i {
    margin:20px;
    color: white;
    font-size: 20px;
    vertical-align: middle;
}

.info {
    color: white;
    font-size: 20px;
}

#header {
    background-color: cadetblue;
    height: 600px;
}

.col-6 {
    background-color:blueviolet;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    border: 1px solid black;
}

 .box_portfolio {
    height: 300px;
    width: 100%;
    border-radius: 50px;
    background-color: brown;
}

/* debug */

#cont {
    background-color: coral;
    height:800px;
} 

#img {
    height: 200px;
}

#green {
    background-color: darkgreen;
}

#footer {
    background-color: dodgerblue;
    height: 300px;
}

#blue-shadow {
    background-color: midnightblue;
} 

/* debug  */   